{% extends "base.html" %}

{% block content %}
<div class = "page-header">

   <h1>
      Авторизація
   </h1>

</div>
    <form action="" method="post">
      {% csrf_token %}
      {% load bootstrap %}
      {{ form|bootstrap_horizontal:'col-lg-4' }}

      <div class="form-group">
        <div class=" col-lg-8 ">
        <input type="submit" value="Авторизуватися" class="btn btn-default"/>
      </div>
      </div>
          </form>

{% endblock %}
This is login
