{% extends "base.html" %}

{% block content %}
<div class = "page-header">

   <h1>
      Реєстрація
   </h1>

</div>

<form action="/register/" method="post">
      {% csrf_token %}
      {% load bootstrap %}
      {{ form|bootstrap_horizontal:'col-lg-4' }}

<div class="form-group">
  <div class=" col-lg-8 ">
  <input type="submit" value="Зареєструватися" class="btn btn-default"/>
</div>
</div>
    </form>

{% endblock %}
