{% extends "base.html"%}

{% block content%}

  <h1>{{ object.title }}</h1>
  <img src="{{object.preview_img.url}}" align="left">
  <p>{{ object.description|safe}}</p>
  <p>Квтегорія: {{object.category}}</p>
  <p>Актори: {{object.actors}}</p>
  <p>Режисер: {{object.director}}</p>
  <p>Дата виходу: {{movie.release_date|date:"Y"}}</p>
  <p>Додана: {{movie.created|date:"d-m-Y"}} {{movie.created|date:"H:i"}}</p>
{% load ratings %}
{% ratings object %}
  <hr>
  {% if user.is_authenticated %}
  <a class="btn btn-default" href="{% url 'add_review_to_movie' pk=movie.pk %}">Додати рецензію на фільм</a>
  {% else %}
  <div class="alert alert-warning" role="alert">
<a href="/register">Зареєструйтеся</a> або <a href="/login">війдіть</a> під своїм акуантом, щоб мати можливість додавати огляди.
</div>
  {% endif %}
{% for review in movie.reviews.all %}
  {% if not review.approved_review %}
  <div class="card">
  <div class="card-block">
    <p>Автор: {{review.author}}</p>
    {{review.text|safe|slice:":300"}}...
    <p>Доданий: {{movie.created|date:"d-m-Y"}} {{movie.created|date:"H:i"}}</p>
  </div>
  <div class="card-block">
    <a href="/movies/review/{{review.id}}" class="card-link">Переглянути рецензію повністю</a>
  </div>
</div>
  {% endif %}
    {% if user.is_authenticated or review.approved_review %}

    {% endif %}
{% empty %}
    <p>Оглядів немає :(</p>
{% endfor %}

{% endblock %}
