<div class="card" style="border: none;">
  <div class="card-block">
    <form class="form-inline" action="/movies/">
    <label class="mr-sm-2" for="inlineFormCustomSelect">Сортувати по:</label>
    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" name="orderBy">
      <option value="title" {% if order == 'title' %}selected{% endif %}>Назва</option>
      <option value="release_date" {% if order == 'release_date' %}selected{% endif %}>Дата виходу</option>
      <option value="created" {% if order == 'created' %}selected{% endif %}>Дата публікації</option>
    </select>

    <button type="submit" class="btn btn-primary">Сортувати</button>
  </form>

  </div>
</div>
