
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</head>
<body>


{% include "nav.html" %}

<div class="container">
  <div class = "page-header">

     <h1>
        Про програмний застосунок
        <small>:)</small>
     </h1>
  </div>
  <p>В програмному застосунку реалізовано(зі сторони адміністратора):
    <li>Облік категорій фільмів</li>
    <li>Облік фільмів</li>
    <li>Облік новин кіноіндустрії</li>
    <li>Адміністрування рецензій</li>
  </p>
  <p>
В програмному застосунку реалізовано(зі сторони не зареєстрованого користувача):
<li>Перегляд списку фільмів і його детальних подробиць. Можливість пошуку(реалізована через icontains по назві). Можливість сортування.</li>
<li>Можливість перегляду рецензій користувачів і її подробиць</li>
<li>Можливість перегляду рейтингу фільма</li>
  </p>
  <p>
В програмному застосунку реалізовано(зі сторони користувача):
<li>Перегляд списку фільмів і його детальних подробиць. Можливість пошуку(реалізована через icontains по назві). Можливість сортування.</li>
<li>Можливість написання рецензії на фільм. За замовчуваннм рецензія відразу ж показується, якщо потрібно адміністратор може поставити флаг baned, що буде приховувати рецензію.</li>
<li>Можливість оцінки фільму</li>
<li>Можливість перегляду рецензій і їх подробиць інших</li>
  </p>
  <p>Інше:</p>
  <li>Реалізована авторизація/реєстрація</li>
  <li>Pagination як на список фільмів так і на новини</li>
  <li>Адмінка через /admin</li>
  <li>Інтеграція з CKEditor</li>
</div>


</body>
</html>
