{% extends "base.html"%}

{% block content %}

<div class = "page-header">

   <h1>
      Фільми
      <small>список</small>
   </h1>

</div>

{% if object_list.all %}
{% include "filter.html" %}
{% endif %}


  {% for movie in object_list %}


  <div class="card">
    <div class="card-block">
      <h4 class="card-title"><a href="/movies/{{movie.id}}">{{movie.title}}</a></h4>
      <p class="card-text">
        <img src="{{movie.preview_img.url}}" align="left" width="100" height="200"/>
        {{movie.description|safe|slice:":400"}}...</p>
        <BR CLEAR="ALL">
          <div class="card-footer">
          <small class="text-muted">Категорія: {{movie.category}}</small>
        </div>
      <div class="card-footer">
      <small class="text-muted">Дата виходу: {{movie.release_date|date:"Y"}}</small>
    </div>
    <div class="card-footer">
    <small class="text-muted">Додана: {{movie.created|date:"d-m-Y"}} {{movie.created|date:"H:i"}}</small>
  </div>
  <div class="card-footer">
  <small class="text-muted">Оглядів: {{ movie.reviews.count }}</small>
</div>
    </div>
  </div>
  {% empty %}
      <p>Фільмів немає ):</p>
  {% endfor %}
</div>
    {% if is_paginated %}
    {% for page in objects.paginator.page_range %}
{% if forloop.counter != 1 %} | {% endif %}
{{ page }}
{% endfor %}
<p>&nbsp;</p>
    <div class="row">
            <div class="col-lg-12 text-xs-center">
                <div class="row">
                    <div class="col-md-3 col-lg-3 offset-md-5 offset-lg-5">
                      <div class="pagination d-block m-x-auto">
                          <span class="page-links">
                              {% if page_obj.has_previous %}
                                  <a href="/movies?orderBy={{order}}&search={{search}}&page={{ page_obj.previous_page_number }}"><button type="button" class="btn btn-primary">Попередня</button></a>
                              {% endif %}
                              <span class="page-current">
                                  Сторінка {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                              </span>
                              {% if page_obj.has_next %}
                                  <a href="/movies?orderBy={{order}}&search={{search}}&page={{ page_obj.next_page_number }}"><button type="button" class="btn btn-primary">Наступна</button></a>
                              {% endif %}
                          </span>

                      </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}
