<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Movie-Rent-Shop</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Домашня</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news/">Новини</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/movies/">Фільми</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/movies/" method="get" accept-charset="utf-8">
      <input class="form-control mr-sm-2" type="text" placeholder="Пошук" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Пошук</button>
    </form>

    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      {{ user.username }}
      </a>
      <div class="dropdown-menu" aria-labelledby="Preview">
      <a class="dropdown-item" href="/logout">Вихід</a>
      </div>
      </li>
            {% else %}
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Користувацька зона
            </a>
            <div class="dropdown-menu" aria-labelledby="Preview">
            <a class="dropdown-item" href="/register">Реєстрація</a>
            <a class="dropdown-item" href="/login">Вхід</a>
            </div>
            </li>
            {% endif%}
    </ul>
  </div>
</nav>
