{% extends "base.html" %}

{% block content %}
<div class="alert alert-success" role="alert">
  <strong>Скарга додана!</strong> Дякуємо за те, що ви покращуюте контент даного потралу.
</div>
{% endblock %}
