{% extends "base.html" %}

{% block content %}
    <h1>Додати рецензію на фільм</h1>

      <form action="" method="post">
          {{ form.media }}
        {% csrf_token %}
        {% load bootstrap %}
        {{ form|bootstrap_horizontal:'col-lg-4' }}

        <div class="form-group">
          <div class=" col-lg-8 ">
          <input type="submit" value="Додати рецензію" class="btn btn-default"/>
        </div>
        </div>
            </form>
{% endblock %}
