{% extends "base.html" %}

{% block content %}
<h2>Рецензія <small>користувача <b>{{review.author}}</b></small> на фільм {{review.movie}} </h2>

<p>
  {{review.text|safe}}
</p>
<p>Доданий: {{review.created_date|date:"d-m-Y"}} {{review_created.created|date:"H:i"}}</p>
{% endblock %}
