{% extends "base.html" %}

{% block content%}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">{{news.title}}</h4>
<img src="{{news.image.url}}" align="left">
    <p class="card-text">{{news.text|safe}}</p>
  </div>
</div>
{% endblock%}
