{% extends "base.html" %}

{% block content%}
<div class = "page-header">

   <h1>
      Новини
      <small>із кіно-індустрії</small>
   </h1>

</div>
{% for news in object_list %}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">{{news.title}}</h4>
    <p class="card-text">{{news.text|safe|slice:":250"}}...</p>
    <a href="/news/{{news.id}}" class="card-link">Детально</a>
    <div class="card-footer">
    <small class="text-muted">Додана:  {{news.created|date:"d-m-Y"}} {{news.created|date:"H:i"}}</small>
  </div>
  </div>
</div>

{% if is_paginated %}
{% for page in objects.paginator.page_range %}
{% if forloop.counter != 1 %} | {% endif %}
{{ page }}
{% endfor %}

{% endif %}
{% empty %}
    <p>Новин немає :(</p>
{% endfor %}
{% if is_paginated %}
<p>&nbsp;</p>
<div class="row">
        <div class="col-lg-12 text-xs-center">
            <div class="row">
                <div class="col-md-3 col-lg-3 offset-md-5 offset-lg-5">
                  <div class="pagination d-block m-x-auto">
                      <span class="page-links">
                          {% if page_obj.has_previous %}
                              <a href="/news/?page={{ page_obj.previous_page_number }}"><button type="button" class="btn btn-primary">Попередня</button></a>
                          {% endif %}
                          <span class="page-current">
                              Сторінка {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                          </span>
                          {% if page_obj.has_next %}
                              <a href="/news/?page={{ page_obj.next_page_number }}"><button type="button" class="btn btn-primary">Наступна</button></a>
                          {% endif %}
                      </span>

                  </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock%}
